<html>
    <head>

        {% load static %}
        <link rel="stylesheet" href="{% static 'global.css'%}">
        <script src="{% static 'js/functions.js' %}"></script>

    </head> 

    <body>

        <div id="id_header_div">
            <div id="id_nav_profile">
            <a href="{% url 'myprofile' user.id %}">{{first_name}} {{last_name}}</a>
            </div>
            <h1 id="id_site_name">Blog Master</h1>
            <div id="links">
                <a id='id_nav_global_stream' href="{% url 'global' %}">Global</a>&nbsp;&nbsp;
                <a id='id_nav_follower_stream' href="{% url 'followers' %}">Follower</a>&nbsp;&nbsp;
                <a id='id_nav_logout' href="{% url 'logout' %}">Logout</a>
            </div>
        </div>

        <div id="id_page_name">
            {{page_name}}
        </div>

        <form id='new-post' action="{% url 'global'%}" method='POST'>
            {% csrf_token %}
            {{form}}
            <input id="id_post_button" type="submit">
        </form>

        <!-- {% for post in posts %}
            {% csrf_token %}
            <div id="post_text">
                <p>Post by <i><a href="{% url 'otherprofile' post.user.profile.user_id %}">{{post.user.first_name}} {{post.user.last_name}}</a></i> - {{post.new_post}} - <i>{{post.date}}</i></p>
            </div>
            &nbsp

        {% endfor %} -->

        <!-- new html for AJAX script -->

        <div id="my-posts-go-here">
            
        </div>


    </body>

</html>

<script>

    console.log("logging from inline AJAX global")
    
    const myUserName = "{{ request.user.username }}"

    const addCommentURL = "{% url 'add-comment' %}"

    window.onload = getPosts

    window.setInterval(getPosts, 5000)

</script>


